<table border=1 style='border-color: black; border-spacing: 0; border-collapse: collapse'>
<tr><td>First Name</td><td> Last Name</td><td> Phone</td></tr>
<tr><td>ololo</td><td> ololoevich</td><td> 12343145124</td></tr>
<tr><td>LOL</td><td> come on</td><td> 54253421</td></tr>
<tr><td>HUI</td><td> s gory</td><td> 666666</td></tr>
<tr><td>vasya</td><td> skin</td><td> 14881488</td></tr>
</table>
